@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Cormorant Unicase';
    font-weight: 700;
}

header {
    width: 100vw;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(116, 90, 30);
}

nav {
    margin-right: 100px;
    display: flex;
    align-items: center;
}

nav .menu-btn {
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}

nav ul li {
    margin: 0;
    padding-left: 40px;
    font-family: 'Jost';
    font-weight: 700;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.nav-links i {
    display: none;
}

.title {
    font-size: 25px;
    font-weight: 700;
    margin-left: 100px;
}

#home {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 50%);
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height minus navbar */
    width: 100vw;
    padding-top: 80px; /* Space for the fixed navbar */
}

.left-right-container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.left span {
    color: rgb(116, 90, 30);
}

.left h1 {
    padding-right: 20px;
}

.animated-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.animated-text .first{
    position: relative;
}

.animated-text .first::before{
    content: "Department of";
    animation: line1 20s infinite;
}

.animated-text .first::after{
    content: "";
    position: absolute;
    width: calc(100% + 5px);
    height: 100%;
    background-color: #000000;
    border-left: 2px solid #d8a83987;
    right: -8px;
    animation: cursor 1s infinite, typing 50s steps(100) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #00000000;
    }
}

@keyframes line1 {
    0%,49%{
        content: "Department of";
    }
    50%,100%{
        content: "Students' Forum for";
    }
}

/* Second Line */

.animated-text .second{
    position: relative;
}

.animated-text .second::before{
    content: "Mathematics, DMU";
    animation: words 20s infinite;
}

.animated-text .second::after{
    content: "";
    position: absolute;
    width: calc(100% + 5px);
    height: 100%;
    background-color: #000000;
    border-left: 2px solid #d8a83987;
    right: -8px;
    animation: cursor 1s infinite, typing 50s steps(100) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes line2 {
    0%,49%{
        content: "Department of Mathematics, DMU";
    }
    50%,100%{
        content: "Mathematics, DMU";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 5px);
    }
}

.left {
    flex: 1;
    padding: 70px 100px 0 100px;
}

.left h1 {
    font-size: 50px;
}

.right {
    position: absolute;
    flex: 1;
    text-align: right;
    background: transparent;
}

.right img.logo1, img.logo3, img.logo4, img.logo5 {
    padding-left: 100px;
    top: 0;
    max-width: 604px;
}

.right img.logo2 {
    top: 0;
    max-width: 100%;
}

.logo-container {
    width: 100%; /* Adjust as needed */
    overflow: hidden;
}
  
.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust as needed */
    height: auto;
    flex-shrink: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.logo.active {
    opacity: 1;
}


.left-slide, .right-slide {
    opacity: 0;
    position: relative;
    transition: all 1s ease;
}

.left-slide {
    transform: translateX(-100%);
}

.right-slide {
    transform: translateX(100%);
}

.scroll-slide-in {
    opacity: 0;
    position: relative;
    transition: all 1s ease;
}

.scroll-left-slide {
    transform: translateX(-100%);
}

.scroll-right-slide {
    transform: translateX(100%);
}

.scroll-visible {
    opacity: 1;
    transform: translateX(0);
}

.visible {
    opacity: 1;
    transform: translateX(0);
}

.scroll-text {
    position: absolute;
    font-size: 100px;
    color: rgb(116, 90, 30);
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden;
    box-sizing: border-box;
    z-index: 1000;
    bottom: 0;
}

.scroll-text h1 {
    display: inline-block;
    padding-left: 100%; /* Start the text off-screen */
    animation: scroll-left 20s linear infinite; /* Apply the scrolling animation */
    padding: 0;
    margin: 0;
}

/* Define the keyframes for the scrolling animation */
@keyframes scroll-left {
    0% {
        transform: translateX(0); /* Start at the original position */
    }
    100% {
        transform: translateX(-100%); /* Move the text completely to the left */
    }
}

#university-notfications {
    position: relative;
    width: 100vw;
    padding: 80px 20px;
}

.notification-title {
    margin-left: 100px;
    padding-top: 20px;
}

.notification-title h1 {
    font-family: 'Cormorant Unicase';
    color: #000000;
    font-size: 50px;
    margin-bottom: 20px;
}

.notification-title p {
    font-family: 'Jost';
    font-size: 18px;
    color: #000000;
}

.notification p {
    color: #000000;
    font-family: 'Jost';
    margin-bottom: 10px;
}

.notification a {
    color: blue;
    font-family: 'Jost';
    font-size: 20px;
}

/* Gallery section styles */
#gallery {
    position: relative;
    width: 100vw;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    text-align: left;
    background-color: #04151f; /* Slightly different background for contrast */
    padding: 80px 20px;
    left: 0;
    top: 0;
    z-index: 1;
    transform: translateY(0);
}

#gallery h1 {
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 20px;
}

#gallery p {
    color: #ffffff;
}

.gallery-title {
    margin-left: 100px;
    padding-top: 20px;
}


/* Gallery container with Flexbox */
.gallery-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto; /* Center the gallery on the page */
    gap: 20px; /* Space between images */
}



.image-card {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex: 1;
    min-width: 250px;
    max-width: calc(25% - 20px); /* Ensure four images fit within 1200px with gaps */
    height: 0;
    padding-bottom: 25%; /* Create square containers */
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 4px 4px 4px 4px rgb(116, 90, 30); /* Light shadow for depth */
}

.image-card img {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 80%;
    object-fit: cover; /* Ensures the image covers the entire square */
    transform: translate(-50%, -50%);
}

.image-card button {
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    bottom: 10px;
    color: white;
    background-color: #2c7b9c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.faculty-title {
    padding-top: 20px;
    margin-left: 100px;
}

.faculty-title h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

#dmsc-gallery,
#dmu-gallery,
#dmarts-gallery,
#gp-gallery {
    background: #000000;
    width: 100vw;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
}

#dmu-gallery.active,
#dmsc-gallery.active,
#dmarts-gallery.active,
#gp-gallery.active {
    height: auto;
    transform: scaleY(1);
}

#gallery.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transform: translateY(-100%);
}

.teacher-container {
    width: 1200px;
    display: flex;
    justify-content: space-between; /* Space between the two teacher divs */
    margin: 0 auto; /* Center the gallery container */
}
  
.teacher {
    width: 580px; /* Half of 1200px minus a little margin */
    box-sizing: border-box; /* Include padding and border in the element's width */
    text-align: center;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}
  
.teacher img {
    max-width: 250px;
    height: auto;
    border-radius: 8px;
}
  
.teacher h2 {
    font-size: 1.5em;
    margin: 10px 0;
}
  
.teacher p {
    font-size: 1em;
    margin: 5px 0;
}

.descrpt {
    text-align: left;
    margin-left: 40px;
}

.forum {
    background: #032f41;
    padding: 80px 20px;
}

.forum h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

/* Events section styles */
#events {
    width: 100vw;
    padding: 80px 20px;
    text-align: left;
    background-color: #000000; /* Light background for contrast */
}

.event-title {
    margin: 0 100px;
}

.event-title h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

/* Events container using Flexbox */
.events-container, .notification-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows wrapping to next row on smaller screens */
    gap: 20px; /* Space between columns */
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 100px;
}

.event, .notification {
    flex: 1;
    min-width: 250px; /* Ensures divs don't get too small on smaller screens */
    max-width: 32%; /* Ensures no more than 3 columns on large screens */
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    border-radius: 8px; /* Rounded corners */
    box-sizing: border-box;
    box-shadow: 4px 4px 4px 4px rgb(116, 90, 30);
    cursor: pointer;
}

.event h2 {
    color: #000000;
    margin-bottom: 10px;
}

.event p {
    color: #000000;
}

.gallery {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.gallery-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 20px 100px;
}

.gallery-content img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}
  
.full-image-view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
  
.full-image-view img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}
  
.full-image-view .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

/* Downloads section styles */
#downloads {
    width: 100vw;
    padding: 60px 20px;
    text-align: left;
    background-color: #032f41;
}

.downloads-title {
    margin: 0 100px;
}

.downloads-title h1 {
    font-size: 50px;
}

#downloads p {
    color: #ffffff;
    margin-bottom: 40px;
}

/* Downloads container */
.downloads-container {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.tabs {
    display: flex;
    margin-bottom: 10px;
}

.tab-button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
    font-size: 18px;
    font-family: 'Jost';
}

.tab-button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.downloads, .sample-questions {
    flex: 1;
    min-width: 300px;
    max-width: 48%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    text-align: left;
    box-shadow: 4px 4px 4px 4px rgb(116, 90, 30);
}

.sample-questions h2 {
    color: #333;
    margin-bottom: 20px;
}

.accordion {
    width: 100%;
    max-width: 600px;
    height: 320px;
    margin: 0 auto;
    overflow-y: auto;
}
  
.accordion-content {
    display: none;
    padding: 15px;
    background: #fff;
    border-top: 1px solid #ccc;
}
  
.accordion-content.active {
    display: block;
}

.accordion-content ul {
    list-style: none;
}
  
.accordion-tab {
    cursor: pointer;
    padding: 15px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
  
.accordion-tab:hover {
    background: #ddd;
}
  
.accordion-item {
    margin-bottom: 10px;
    font-family: 'Jost';
    color: #000000;
}  
  
.hidden {
    display: none;
}

.see-more {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #2c7b9c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.see-more:hover {
    background-color: #23607d;
}

/* About and Contact Us section styles */
#about-contact {
    width: 100vw;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Ensure both divs are the same height */
    padding: 50px 20px;
    gap: 40px;
}

#about-contact h1 {
    font-size: 50px;
}

.about-us {
    margin-left: 100px;
}

.contact-us {
    margin-right: 100px;
}

.about-us, .contact-us {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 4px rgb(116, 90, 30);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure content is spaced evenly */
}

.about-us h1, .contact-us h1 {
    color: #333;
    margin-bottom: 20px;
}

.about-us p, .contact-info p {
    color: #555;
    margin-bottom: 15px;
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-us form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1; /* Ensure the form takes up remaining space */
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#message {
    resize: none;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #2c7b9c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
}

button[type="submit"]:hover {
    background-color: #23607d;
}

#footer {
    width: 100vw;
    background-color: #032f41;
    font-family: 'Jost';
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}

#footer p {
    margin: 0;
}

/* Base Styles - Existing CSS */

/* Mobile Styles for Screens 320px and Below */
@media only screen and (max-width: 320px) {
    header {
        flex-direction: row-reverse;
        align-items: flex-start;
        height: 60px;
        padding-top: 8px;
    }

    nav {
        position: absolute;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        padding: 10px 0;
        display: flex;
        align-items: flex-start;
    }

    nav ul li {
        padding-left: 0;
        padding-bottom: 10px;
        padding-left: 20px;
    }

    nav .nav-links {
        display: none;
    }

    nav .nav-links.active {
        display: flex;
        padding-top: 30px;
    }

    .title {
        margin-right: 20px;
        margin-left: 90px;
        text-align: right;
        font-size: 18px;
    }

    nav .menu-btn {
        display: block;
        margin-left: 20px;
        padding-top: 15px;
    }

    .left-right-container {
        flex-direction: column-reverse;
    }

    #home {
        margin: 0;
        padding: 0;
        background: linear-gradient(0deg, rgba(0,0,0,1) 55%, rgba(255,255,255,1) 45%);
    }

    .right {
        width: 90%;
        margin-left: 20px;
    }
    
    .right img.logo1, img.logo3, img.logo4, img.logo5 {
        padding-left: 0;
    }

    .left {
        padding: 0 0 0 20px;
    }

    .left h1 {
        font-size: 30px;
        margin-top: 310px;
    }

    .scroll-text {
        font-size: 50px;
        bottom: 20px;
        max-width: 100%;
    }

    #university-notfications, #gallery {
        padding: 40px 20px;
    }

    .notification-title {
        margin-left: 0;
    }

    .notification-title h1 {
        font-size: 30px;
    }

    .notification-title p {
        font-size: 15px;
    }

    .notification-list {
        margin-left: 0;
        margin-right: 0;
    }

    .notification {
        min-width: 100%;
    }

    .notification p {
        font-size: 12px;
    }

    .notification a {
        font-size: 14px;
    }

    .gallery-title {
        margin-left: 0;
    }

    #gallery h1 {
        font-size: 30px;
    }

    #gallery p {
        font-size: 15px;
    }

    .gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns for the cards */
        gap: 10px; /* Space between the cards */
    }

    .image-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f0f0f0; /* Example background color */
        padding: 10px;
        border-radius: 8px;
        height: 220px;
        min-width: 100%;
        height: 170px;
    }
    
    .image-card img {
        max-width: 100%; /* Make sure images fit within their container */
        height: auto;
        border-radius: 4px;
        top: 60px;
    }

    .image-card button {
        font-size: 11px;
        padding: 7px 7px;
        bottom: 10px;
    }

    .faculty-title {
        margin-left: 20px;
    }

    .faculty-title h1 {
        font-size: 30px;
    }

    .teacher-container {
        width: 100vw;
        overflow-y: auto;
        flex-direction: column;
    }

    .teacher {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

    .teacher img {
        max-width: 50%;
    }

    .teacher h2 {
        font-size: 20px;
    }

    .teacher p {
        font-size: 13px;
    }

    .descrpt {
        width: 80%;
        margin: 0;
    }

    #events {
        padding: 40px 20px;
    }

    .event-title {
        margin: 0;
    }

    .event-title h1 {
        font-size: 30px;
    }

    .event h2 {
        font-size: 20px;
    }

    .event p {
        font-size: 11px;
    }

    .event-title p {
        font-size: 15px;
    }

    .events-container {
        margin-left: 0;
    }

    /* Making the gallery-content horizontally scrollable */
    .gallery-content {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: none;
        gap: 10px; /* Add space between images */
        padding-bottom: 20px; /* Space below images */
        margin: 20px 20px;
    }

    /* Styling for the images */
    .gallery-content img {
        max-width: 90%;
        cursor: pointer;
        border-radius: 5px;
        scroll-snap-align: start;
    }

    /* Hide scrollbar for a cleaner look */
    .gallery-content::-webkit-scrollbar {
        display: none;
    }

    #downloads {
        padding: 0;
    }

    .downloads-title {
        padding: 40px 20px;
        margin: 0;
    }

    .downloads-title h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    #downloads p {
        font-size: 15px;
        margin: 0;
    }

    .downloads-container {
        margin: 0 0 0 20px;
    }

    .downloads, .sample-questions {
        min-width: 280px;
    }

    .tab-button {
        font-size: 15px;
    }

    .accordion {
        height: 195px;
    }

    .sample-questions {
        margin-bottom: 40px;
    }

    #about-contact {
        flex-direction: column;
        align-items: center;
    }

    #about-contact h1 {
        font-size: 30px;
    }

    .about-us {
        margin-left: 0;
        padding: 20px;
        max-width: 100%;
        overflow: hidden;
        overflow-x: auto;
    }

    .contact-us {
        margin: 0;
        width: 100%;
    }

}

/* Mobile Styles for Screens 320px and Below */
@media only screen and (max-width: 480px) {
    header {
        flex-direction: row-reverse;
        align-items: flex-start;
        height: 60px;
        padding-top: 8px;
    }

    nav {
        position: absolute;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        padding: 10px 0;
        display: flex;
        align-items: flex-start;
    }

    nav ul li {
        padding-left: 0;
        padding-bottom: 10px;
        padding-left: 20px;
    }

    nav .nav-links {
        display: none;
    }

    nav .nav-links.active {
        display: flex;
        padding-top: 30px;
    }

    .title {
        margin-right: 20px;
        margin-left: 90px;
        text-align: right;
        font-size: 18px;
    }

    nav .menu-btn {
        display: block;
        margin-left: 20px;
        padding-top: 15px;
    }

    .left-right-container {
        flex-direction: column-reverse;
    }

    #home {
        margin: 0;
        padding: 0;
        background: linear-gradient(0deg, rgba(0,0,0,1) 55%, rgba(255,255,255,1) 45%);
    }

    .right {
        width: 90%;
        margin-left: 20px;
    }
    
    .right img.logo1, img.logo3, img.logo4, img.logo5 {
        padding-left: 0;
    }

    .left {
        padding: 0 0 0 20px;
    }

    .left h1 {
        font-size: 30px;
        margin-top: 310px;
    }

    .scroll-text {
        font-size: 50px;
        bottom: 20px;
        max-width: 100%;
    }

    #university-notfications, #gallery {
        padding: 40px 20px;
    }

    .notification-title {
        margin-left: 0;
    }

    .notification-title h1 {
        font-size: 30px;
    }

    .notification-title p {
        font-size: 15px;
    }

    .notification-list {
        margin-left: 0;
        margin-right: 0;
    }

    .notification {
        min-width: 100%;
    }

    .notification p {
        font-size: 12px;
    }

    .notification a {
        font-size: 14px;
    }

    .gallery-title {
        margin-left: 0;
    }

    #gallery h1 {
        font-size: 30px;
    }

    #gallery p {
        font-size: 15px;
    }

    .gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns for the cards */
        gap: 10px; /* Space between the cards */
    }

    .image-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f0f0f0; /* Example background color */
        padding: 10px;
        border-radius: 8px;
        height: 220px;
        min-width: 100%;
        height: 170px;
    }
    
    .image-card img {
        max-width: 100%; /* Make sure images fit within their container */
        height: auto;
        border-radius: 4px;
        top: 60px;
    }

    .image-card button {
        font-size: 11px;
        padding: 7px 7px;
        bottom: 10px;
    }

    .faculty-title {
        margin-left: 20px;
    }

    .faculty-title h1 {
        font-size: 30px;
    }

    .teacher-container {
        width: 100vw;
        overflow-y: auto;
        flex-direction: column;
    }

    .teacher {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

    .teacher img {
        max-width: 50%;
    }

    .teacher h2 {
        font-size: 20px;
    }

    .teacher p {
        font-size: 13px;
    }

    .descrpt {
        width: 80%;
        margin: 0;
    }

    #events {
        padding: 40px 20px;
    }

    .event-title {
        margin: 0;
    }

    .event-title h1 {
        font-size: 30px;
    }

    .event h2 {
        font-size: 20px;
    }

    .event p {
        font-size: 11px;
    }

    .event-title p {
        font-size: 15px;
    }

    .events-container {
        margin-left: 0;
    }

    /* Making the gallery-content horizontally scrollable */
    .gallery-content {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: none;
        gap: 10px; /* Add space between images */
        padding-bottom: 20px; /* Space below images */
        margin: 20px 20px;
    }

    /* Styling for the images */
    .gallery-content img {
        max-width: 90%;
        cursor: pointer;
        border-radius: 5px;
        scroll-snap-align: start;
    }

    /* Hide scrollbar for a cleaner look */
    .gallery-content::-webkit-scrollbar {
        display: none;
    }

    #downloads {
        padding: 0;
    }

    .downloads-title {
        padding: 40px 20px;
        margin: 0;
    }

    .downloads-title h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    #downloads p {
        font-size: 15px;
        margin: 0;
    }

    .downloads-container {
        margin: 0 0 0 20px;
    }

    .downloads, .sample-questions {
        min-width: 280px;
    }

    .tab-button {
        font-size: 15px;
    }

    .accordion {
        height: 195px;
    }

    .sample-questions {
        margin-bottom: 40px;
    }

    #about-contact {
        flex-direction: column;
        align-items: center;
    }

    #about-contact h1 {
        font-size: 30px;
    }

    .about-us {
        margin-left: 0;
        padding: 20px;
        max-width: 100%;
        overflow: hidden;
        overflow-x: auto;
    }

    .contact-us {
        margin: 0;
        width: 100%;
    }

}