/* General Styling */
.left-right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Slider */
.logo-container {
    position: relative;
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    overflow: hidden;
}

.logo-slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.logo-slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.logo-slider img.active {
    opacity: 1;
}
